{{ section.settings.free_shipping_amount }}
{{ section.settings.free_shipping }}
{% comment %} assign freeShippingTotal = section.settings.free_shipping_amount {% endcomment %} 
<!-- {% if section.settings.free_shipping %}
    {% if cart.item_count > 0 %}  -->
        {%- liquid 
            assign cartTotal = cart.total_price | divided_by: 100 
            assign freeShippingTotal = 299
            
            assign addMore = 0
            assign freeShippingBar = 0
        -%}
        {% if freeShippingTotal > 0 %}
    
            <div class="row free-shipping-bar mx-auto my-5">
                <div class="free-shipping-details">       
                    <p class="free-shipping-head">Avail free shipping if cart total is more than ${{section.settings.free_shipping_amount}} </p>

                    {% assign freeShippingBar = cartTotal | times: 100 | divided_by: freeShippingTotal %}

                    {% if cartTotal >= freeShippingTotal %}
                        <h3 class="free-eligible my-4"> You are eligible for free shipping </h3>
                    {% else %}
                        {% assign addMore = freeShippingTotal | minus: cartTotal %}
                        <p class="free-not-eligible mt-3"> YOU ARE <span class="free-amount">${{ addMore }}</span> AWAY FROM FREE SHIPPING!</p>
                    {% endif %}

                    <div class="progress">
                        <div class="progress-bar d-block" 
                            style="width:{{ freeShippingBar }}%;" 
                            role="progressbar" 
                        >
                        </div>    
                    </div>
                </div>
            </div>
        {% endif %}
    <!-- {% endif %}
{% endif %} -->