<product-form class="product-form">


<div class="container my-5 py-4">
    <div class="row">
        <div class="col-sm-6">
            
            <img id="myImg" src="{{ product.featured_image.src | product_img_url: 'large' }}" class="product-image" width="500">

            <!-- The Modal - Zoom -->
            <div id="myModal" class="img-modal">
                <img class="img-modal-content" id="img01">
            </div>

        </div>
      	
      
      
        <div class="col-sm-6 product-description">
          	
          <div data-hulkapps-reviews data-hulkapps-reviews-list></div>
          
            <h2 class="product-title">{{ product.title }}</h2>

            <p class="product-description">{{ product.description }}</p>

            <p class="mt-4">Price:</p>

            <p class="" id="price-box"> {{ product.price | | money }} </p>

            <!-- <div class="addon-block my-5">
                <p>Addon products(from tags):</p>
                {% for tag in product.tags %}
                    
                    {% assign handle_addon = tag | split: '_' | last %} 
                    {% assign product_addon = all_products[handle_addon] %}
                    {% assign variant_addon = product_addon.first_available_variant %}
                    
                    <div class="addon-data">
                        <input type="checkbox" value="{{ variant_addon.id }}"> Add  
                        <a href="{{ product_addon.url }}" target="_blank"> {{ product_addon.title }}</a>
                        <span> (Price: {{ product_addon.price | | money }}) </span>
                    </div>
                {% endfor %}
            </div> -->

            {% comment %}
            <!-- Addon product by metafield --> 
            {% if product.metafields.custom.addon != blank %}
                <div class="addon-block my-5">
                    <p>Addon products(through metafield):</p>
                    {% assign data = product.metafields.custom.addon.value  %}
                    {% for item in data %}
                        {% assign handle_addon = item.handle %} 
                        {% assign product_addon = all_products[handle_addon] %}
                        {% assign variant_addon = product_addon.first_available_variant %}

                        <div class="addon-data">
                            <input type="checkbox" value="{{ variant_addon.id }}"> Add  
                            <a href="{{ product_addon.url }}" target="_blank"> {{ product_addon.title }}</a>
                            <span> (Price: {{ product_addon.price | money }}) </span>
                        </div>  

                    {% endfor %}
                </div>
            {% endif %}
            {% endcomment %}


            {% if product.metafields.custom.free_ != blank %}
                <div class="addon-block my-5 free-block">
                    <p>Free products:</p>
                    <input id="free-products" value="1" hidden>
                    {% assign data = product.metafields.custom.free_.value  %}
                    {% for item in data %}
                        {% assign handle_addon = item.handle %} 
                        {% assign product_addon = all_products[handle_addon] %}
                        {% assign variant_addon = product_addon.first_available_variant %}
                        <div class="addon-data">
                            <img src="{{ product_addon.featured_image.src | product_img_url }}" alt="">
                            <input type="checkbox" value="{{ variant_addon.id }}" checked disabled>    
                            <a href="{{ product_addon.url }}" target="_blank"> {{ product_addon.title }}</a>
                            <span> (Price: {{ product_addon.price | money }}) </span>
                        </div>  

                    {% endfor %}
                </div>
            {% endif %}

            <!-- <p>
                variants:
                {% assign color = product.variants.option1 %}

                {% for variant in product.variants %}
                    {{ variant.option1 | uniq }}  
                {% endfor %}
                
                {{ color }}
            </p> -->

            {% comment %} Color Swatch Liquid {% endcomment %}
            {%- unless product.has_only_default_variant -%}
                <p>Color</p>
                {% for option in product.options_with_values %}
                    <ul class="swatch-option">
                        {% for value in option.values %}
                          
                            {% assign img_url = blank %}
                            {% assign all_colors = blank %}

                            {% if option.name == 'color' or option.name == 'Color' %}
                                {% for item in product.variants %}
                                    {% assign all_colors = all_colors | append: item.options[0] | append: ',' %}
                                {% endfor %}
                                {% assign all_colors = all_colors | split: ',' | uniq %}


                                {% assign hasImage = blank %}

                                {% for item in product.variants %}

                                   
                                    {% for color in all_colors %}
                                        {% if color == value and item.options contains value and item.featured_image.src != blank %}
                                          
                                            {% if hasImage contains item.featured_image.src %}
                                                {% break %}
                                            {% else %}
                                                {% assign hasImage = hasImage | append: item.featured_image.src | append: ',' %}
                                            {% endif %}

                                            {% assign img_url = item.featured_image.src | img_url: 'small' %}
                                            <li class="swatch-image" data-color="{{color}}">
                                                <img src="{{img_url}}" alt="" class="mx-3" > 
                                            </li>                                            
                                         
                                            
                                            {% break %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                
                            
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endunless %}


            {% comment %} Color swatch 
            {%- unless product.has_only_default_variant -%}
            <label>
                <p> Color </p>
                
                <ul class="color-swatch">
                  {% for color_option in product.options_by_name['Color'].values %}
                    <li class="color-option">
                        <p> {{ color_option }} </p> 
                    </li>
                  {% endfor %}
                </ul>
            </label>
            {% endunless %}
            {% endcomment %}

            {% comment %} If it does not have vaiants then dont show options {% endcomment %}
            {%- unless product.has_only_default_variant -%}
            {% for product_option in product.options_with_values %}
            <br>
            <label class="{% if product_option.name == 'Color' %}color-drop-label{% endif %}">
                <span class="option-label"> {{ product_option.name }} </span>

                <select class="select-option select-general mb-3 {% if product_option.name == 'Color' %}color-drop{% endif %}">
                    {% for value in product_option.values %}
                    <option {% if product_option.selected_value==value %}selected{% endif %} value="{{ value }}">
                        {{ value }}
                    </option>
                    {% endfor %}
                </select>
            </label>
            {% endfor %}
            {% endunless %}
            
            <select name="id" id="variants" class="select__select" hidden>
                {%- for variant in product.variants -%}
                {% for option in variant.option1 %}
                <option {% if variant==product.selected_or_first_available_variant %}selected{% endif %}
                    value="{{ variant.id }}">
                    {{ variant.title }}

                    - {{ variant.price | money | strip_html }}
                </option>
                {% endfor %}
                {%- endfor -%}
            </select>

            <form action="{{ routes.cart_add_url }}" method="POST" class="options-form" id="add-to-cart"
                accept-charset="UTF-8" enctype="multipart/form-data">
                <!-- <p>Line item properties:</p>
                <p class="line-item-property__field">
                    <label for="your-name">Your name</label>
                    <input id="your-name" type="text" name="properties[_Your Name]">
                </p>

                <p class="line-item-property__field">
                    <label for="your-birthdate">Your birthdate</label>
                    <input id="your-birthdate" type="date" name="properties[_Your birthdate]">
                </p> -->

                <input type="hidden" name="id[]" id="id" value="{{product.first_available_variant.id}}">
                <label for="" class="option-label"> Quantity:</label>
                <input type="number" name="quantity" id="quantity" value="1" class="quantity-input">

                {% comment %} 
                <!-- Free Product Block  -->
                <div class="free-product-block my-5">
                    <p>Free product:</p>
                    {% for tag in product.tags %}
                        
                        {% assign handle_addon = tag | split: '_' | last %} 
                        {% assign free = tag | split: '_' | first %}
                        {% if free == 'free' %}
                            {% assign product_addon = all_products[handle_addon] %}
                            {% assign variant_addon = product_addon.first_available_variant %}
    
                            <div class="free-product-data">
                                <input type="checkbox" value="{{ variant_addon.id }}" checked name="id[]"> This will be added to cart   
                                <a href="{{ product_addon.url }}" target="_blank"> {{ product_addon.title }}</a>
                                <span> (Price: {{ product_addon.price | | money }}) </span>
                            </div>
    
                        {% endif %}
                        
                    {% endfor %}
                </div>

                {% endcomment %}

              
                
                <div class="add-to-cart my-3">
                    <button type="submit" name="add" class="btn btn-dark btn-lg" id="add-to-cart-btn" >Add to
                        cart</button>
                </div>

                <script class="variantsJSON-{{ product.id }}" data-variantJSON type="application/json">
                    {{ product.variants | json }}
                </script>

            </form>
        </div>

        <!-- <div class="row">
            {% if product.metafields.my_fields.custom_ != blank %}
                <h1 class="metafield-title">Custom Metafield:</h1>
                <p class="metafield-description" class="metafield-title">{{ product.metafields.my_fields.custom_ }} </p>
            {% endif %}  
            
            {% if product.metafields.descriptors.care_guide != blank %}
                <h1 class="metafield-title">Care Guidelines Metafields:</h1>
                <p class="metafield-description">  {{ product.metafields.descriptors.care_guide }} </p>
            {% endif %}

           
            {% if product.metafields.custom.addon != blank %}
                <h1 class="metafield-title"> title</h1>
                <p class="metafield-description">  {{product.metafields.custom.addon}} </p>
            {% endif %}
        </div> -->

    </div>

    <!-- related products -->
    {% comment %}
    <div class="row my-5 py-5">
        
        {% for collection in product.collections %}
        <!-- collection.handle ( title can be duplicate ) -->
            {% assign collection_name = collection.title %}
        {% endfor %}

        {% if collections.[collection_name].all_products_count > 0 %}
            <h1 class="title">Related Products:</h1>
            
            <div class="d-flex align-items-stretch justify-content-around">

            {% for p in collections.[collection_name].products limit: 5%}
                {% unless p.handle == product.handle %}

                    <div class="card product-card text-start border-0 overflow-hidden px-3">
                        <div class="card-image">
                            <a href="{{ p.url }}" class="product-url d-block">
                                <img src="{{ p.images[0] | image_url: width: 300 }}" alt="" class="image-1 w-100" loading="lazy">
                                <img src="{{ p.images[1] | image_url: width: 300 }}" alt="" class="image-2 w-100" loading="lazy">
                            </a>
                        </div>
                        <div class="card-body text-start px-0">
                            <a href="{{ p.url }}" class="product-title">
                                <p class="product-title">{{ p.title }}</p>
                            </a>
                            <p class="product-price">{{ p.price | money }}</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <div class="row">
                                <div class="col-lg-12 mt-1 mt-lg-0 px-0 ">
                                    <p class="mb-0 shades-available mb-2">
                                        <!-- Add To Cart -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endunless %}
            {% endfor %}
            </div>
        {% endif %}

    </div>
    {% endcomment %}
    
    {% section 'cart-drawer' %}


</div>

</product-form>



<!--Using javascript

    <script>

    // for color swatch 
    document.addEventListener("DOMContentLoaded", function () {
        
        const variantJSON = form.querySelector('[data-variantJSON]');

         // get variant image from array
        let variants = JSON.parse(variantJSON.textContent);
        let variantImages = [];
        variants.forEach(variant => {
            if(variant.title.includes(variant.option1)) {
                variantImages.push(variant.featured_image.src)
            }    
        })
        const result = Array.from(new Set(variantImages));


        // show these images on color swatch
        const ul = document.querySelector('.color-swatch');
        let items = ul.getElementsByTagName("li");
        for (var i = 0; i < items.length; ++i) {
            let img = document.createElement("img");
            img.src = result[i];
            img.width = 50;
            items[i].append(img)
        }
            
        
        // set event listners for color swatch
        const cs = document.querySelectorAll('.color-option');
        cs.forEach(li => {
            li.addEventListener('click', updateVariant.bind(this));
        })

        // update variant for color swatch
        function updateVariant(e) {

            // get selected value 
            const selected = e.path[1].firstElementChild.innerHTML.trim();
            console.log(selected);

            // update default select 
            const colorDrop = document.querySelector('.color-drop');

            colorDrop.value = selected;
            // call variant change
            variantChange();
        }

    });
</script> -->
